body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1px;
    width: 300px;
    border: 1px outset #000;
}

.square {
    width: 30%;
    height: 30%;
    background-color: white;
}

.square:hover {
    background-color: #555;
}

button {
    margin: 10px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}
.title-bar {
    font-size: xx-large;
  }
  
  .title-bar img {
    max-width: 70px;
    max-height: 50px;
  }

  /*footer section*/
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

.fab.fa-github {
    color: black;
}
